@media screen and (max-width:1675px){
    .cadre.two {
        right: -60em;
    }
}

@media screen and (max-width:1525px){
    .cadre.two {
        right: -65em;
    }

    img.home-image {
        left: -20em;
    }
        
}

@media screen and (max-width:1325px){

    img.home-image {
        left: -25em;
    }
    
    .content-about {
        width: 45%;
    }

    .content-services {
        margin: 3em 4em;
    }
    
    .card{
        margin: 0 2.5em;
    }
}

@media screen and (max-width: 1250px){
    .cadre.one {
        left: -30em;
    }
    div.mask-text {
        padding: 5em 5em 5em 28em;
    }
}

@media screen and (max-width:1162px){
    .content-about {
        width: 55%;
    }
    
    .card{
        margin: 0 2em;
    }
}

@media screen and (max-width: 1103px) {
    nav a{
        margin:0 0.4em;
    }

    a.navbar-brand img{
        max-width:195px;
    }

    header .contact {
        padding: 0.3em 0.3em;
        margin-right: 0.5em;
    }

    img.home-image {
        left: -30em;
    }
}

@media screen and (max-width: 1069px){
    .content-services {
        margin: 3em 2em;
    }
}

@media screen and (max-width: 1035px){
    .content-footer{
        display:block;
    }

    footer p{
        text-align:center;
        margin-bottom: 1em !important;
    }
    
    footer ul{
        justify-content: center;
        padding-left:0 !important;
        flex-wrap: wrap;
        text-align: center;
    }
}

@media screen and (max-width: 1005px){
    .content-services {
        margin: 3em 1em;
    }

    .card{
        margin: 0 0.5em;
    }
}

@media screen and (max-width: 991px) {
    button.navbar-toggler{
        margin-right:1em;
        background:#004e65 !important;
        border-radius:0;
        border:none;
    }
    .navbar-toggler-icon{
        background:url("../images/burger-bar.png") no-repeat center !important;
    }

    .contact.desktop{
        display: none;
    }

    .contact.mobile{
        display: flex;
    }

    .cadre.one {
        left: -30em;
        top:7em;
        height: 285px;
    }
    
    .mask-text{
        padding:2em 1em 2em 28em !important;
    }

    div.mask-image {
        margin-left: -8em;
    }
}

@media screen and (max-width: 879px){
    .content-about {
        width: 80%;
        margin:0 auto
    }
    
    #services-cards{
        flex-direction:column;
        background:none;
    }

    .content-services {
        margin: 1em 1em;
        padding-bottom:0;
    }

    .card-img-top{
        margin-bottom:1em;
    }

    .card.prepa {
        border-bottom: none !important;
    }
}

@media screen and (max-width: 770px){
     .home-content{
        display:block !important
    }

    .cadre, .mask-text br{
        display:none;
    }

    div.mask-text {
        width: auto;
        transform: none;
        border-radius: 0;
        margin-left: 0;
        padding: 1em !important;
        font-size: smaller;
    }

    .mask-text h1{
        transform: none;
    }

    div.mask-image{
        width: auto;
        transform: none;
        border-radius: 0;
        margin-bottom: 2em;
        height: auto;
        margin-left:0;
    }

    img.home-image {
        transform: none;
        position: relative;
        max-width: 100%;
        left: 0;
        top: 0;
    }

}

@media screen and (max-width: 615px){
    .content-about {
        width: 100%;
        margin:0 1em;
    }

    .contact.mobile{
        display: none;
    }
}

@media screen and (max-width: 405px){
    #pictos {
        transform: none;
        width: 100% !important;
        padding: 1em;
        margin-top: 1em;
        border-radius:0;
        margin-right:0;
        justify-content:center;
        display: flex;
    }

    .pictos {
        transform: none;
        margin: 0 0.5em;
    }
}