html{
  scroll-behavior: smooth;
  scroll-padding-top: var(--scroll-padding, 50px);
}

body{
  font-family: 'Montserrat', sans-serif !important;
  color:#004e65 !important;
}

h1, h5 {
  font-family: 'Montserrat', sans-serif !important;
  color:#006a8a;
}

h1{
  font-size:3.5em !important;
  text-transform: uppercase;
  font-weight: 300 !important;
  color:white !important;
}

h1 span{
  font-weight: 500 !important;
}

h2{
  font-family: 'Abril Fatface', cursive;
  color:#006a8a;
  font-size:4em !important;
}

h5{
  text-transform: uppercase;
  font-weight: 600;
}

em{
  font-style: normal;
  font-weight: 600;
}

.bolder{
  font-weight:500;
}

#about h2, #contact h2{
  color:white;
  margin-bottom: 1em;
}

section {
  /* min-height: 100vh; */
  min-height: calc(100vh - 112px);
}

.container-fluid{
  padding:0 !important;
}

header.sticky {
  background:white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index:10;
}

.corner{
  width:60px;
  height:10px;
  position:absolute;
  z-index:1;
  background: url("../images/blue-rectangle.png")right bottom no-repeat;
}

.corner.header{
  right:0;
  bottom:-3px;
}

.corner.footer{
  left:0;
  top:-7px;
}

nav{
  border-bottom: #004e65 3px solid;
}

ul.navbar-nav{
  margin:auto;
}

nav a {
  color:#006a8a !important;
  text-transform: uppercase;
  padding:0.5em 0 !important;
  margin:0 1em;
}

nav a.active {
  border-bottom:#00B4D5 2px solid;
  font-weight: 500;
}

.contact{
  background: #004e65;
  color:white;
}

.contact.mobile{
  display: none;
}

header .contact{
  border-radius: 0.5em;
  padding: 0.3em 0.8em;
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-right: 1em;
}

header .contact p{
  margin:0;
}

.contact .phone{
  width:fit-content;
  background: url("../images/phone.png")left center no-repeat;
  padding-left: 2em;
  margin-right:1em;
}

.contact .mail{
  width:fit-content;
  background: url("../images/mail.png")left center no-repeat;
  padding-left: 2em;
}

.contact .city{
  width:fit-content;
  background: url("../images/pin.png")left center no-repeat;
  padding-left: 2em;
}

section#home{
  margin-top:112px;
  background: #e9f6fc;
  background: -moz-linear-gradient(55deg,  #e9f6fc 0%, #e9f6fc 40%, #e9f6fc 40%, #ffffff 40%, #ffffff 100%);
  background: -webkit-linear-gradient(55deg,  #e9f6fc 0%,#e9f6fc 40%,#e9f6fc 40%,#ffffff 40%,#ffffff 100%);
  background: linear-gradient(55deg,  #e9f6fc 0%,#e9f6fc 40%,#e9f6fc 40%,#ffffff 40%,#ffffff 100%);
/*   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9f6fc', endColorstr='#ffffff',GradientType=1 ); */
  display:flex;
  flex-direction: column;
  overflow: hidden;
}

#pictos {
  background: #004e65;
  transform: skew(35deg, 0deg);
  border-radius: 1.2em 0.5em;
  overflow: hidden;
  width: fit-content;
  padding: 1em 2.5em;
  margin-right: -1.8em;
  margin-top: 2em;
  align-self: flex-end;
}

.pictos{
  transform: skew(-35deg, 0deg);
  margin:0 1em;
}

.home-content{
  position: relative;
  display: flex;
  align-items: center;
}

div.mask-text {
  width: fit-content;
  height: fit-content;
  transform: skew(35deg, 0deg);
  border-radius: 3em 0.7em;
  overflow: hidden;
  background-color: #004e65;
  padding: 5em 5em 5em 35em;
  margin-left: -25em;
  z-index:1;
}

.mask-text h1{
  transform: skew(-35deg, 0deg);
}

div.mask-image {
  transform: skew(35deg, 0deg);
  border-radius: 3em 0.7em;
  overflow: hidden;
  height: 560px;
  margin-left:-5em;
}

img.home-image {
  transform: skew(-35deg, 0deg) translateX(-5%);
  position: absolute;
  left: -12em;
  top: -15em;
  max-width: 1650px;
}

.cadre {
  width: 1050px;
  height: 320px;
  z-index: 2;
  border: white solid 0.2em;
  position: absolute;
  transform: skew(35deg, 0deg);
  border-radius: 3em 0.7em;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.5); 
  box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.5);
}

.cadre.one {
  top: 5em;
  left: -18em;
}

.cadre.two {
  bottom: 1em;
  right: -58em;
}

section#about{
  background: url("../images/ImageAbout.jpg")center no-repeat;
  background-size: cover;
  display: flex;
}

section#about p{
  text-align: justify;
}

.content-about{
  background-color: rgba(0, 106, 138, 0.9);
  color:white;
  width: 35%;
  padding: 3em;
  margin-left: 10em;
  align-self: end;
}

section#services{
  background: url("../images/lines.png")left bottom no-repeat;
  background-size: contain;
  padding-bottom: 0.2em;
}

.content-services {
    margin: 3em 6em;
    padding: 0 3em 3em;
    border-left: 1em #004e65 solid;
}

.content-services p{
  font-weight:500;
  font-size:1.4em;
  margin: 1em 0 3em;
}

#services-cards {
    display: flex;
    justify-content: center;
    background: url("../images/blue-line.png")left 3em repeat-x;
    width: fit-content;
    margin: auto;
}

.card{
  max-width: 22em;
  margin: 0 5em;
  border: none !important;
  border-radius : 0 !important;
  background:none !important;
}

.card.prepa{
  border-bottom:#004e65 3em solid !important;
  box-sizing: border-box !important;
}

.card-img-top{
  margin-bottom:5em;
  border-radius: 0 !important;
}

.text-contact{
  padding:0 3em !important;
  align-self: center;
}

section#contact{
  display:flex;
  justify-content:space-between;
  align-items:center;
}


.contact-row{
  display: flex;
  flex-wrap: wrap;
}

#formulaire{
  background: white;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color:#004e65;
  text-transform:uppercase;
}

label{
  color:#004e65 !important;
  font-weight:500 !important;
}

.btn.btn-calory{
  background: #004e65;
  color:white;
  text-transform: uppercase;
}

.btn.btn-calory:hover{
  background: #00B4D5;
  color:#004e65;
}

img.contact{
  height:100vh;
}

.contact-bkg {
  background: url("../images/ImageContact.jpg")left bottom no-repeat;
  width: 100%;
  height: calc(100vh - 112px);
  background-size: cover;
}

footer{
  padding:1em;
  font-size:0.8em;
  background:white;
  margin-top:1.5em;
}

.content-footer{
  position:relative;
  border-top: #004e65 3px solid;
  display:flex;
  justify-content:space-between;
  padding-top:1.5em
}

footer p{
  margin-bottom: 0 !important;
}

footer ul{
  display:flex;
  justify-content:end;
  margin-bottom: 0 !important;
}

footer li{
  list-style-type:none;
  margin: 0 0.5em;
}

footer a{
  text-decoration:none;
  color:#006a8a;
}

footer a:hover{
  text-decoration:underline;
}